* {
  box-sizing: border-box;
}

/* style for HOME */
.home-picture {
  display: inline-block;
  position: relative;
  width: 15rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
}
/* style for EDIT */

.picture-form {
  background-color: rgb(243, 243, 243);
  padding: 2rem;
  margin-bottom: 1rem;
}

.email-form {
  background-color: rgb(243, 243, 243);
  padding: 2rem;
  margin-bottom: 1rem;
}

.password-form {
  background-color: rgb(243, 243, 243);
  padding: 2rem;
  margin-bottom: 1rem;
}
.profile-picture {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.profile-picture img {
  display: inline-block;
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
}

.btn-dark {
  margin-top: 1rem;
}

input[type='file'] {
  width: 100%;
}

/* style for NAVIGATION */
.nav-picture {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
}

.nav-picture img {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.nav-item {
  width: 100px;
}

.first-picture {
  display: flex;
  width: 100px;
}

.first-picture img {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.first-picture {
  display: none;
}

.navbar-brand {
  margin-right: 3rem;
}

/* STYLE FOR TASKS */
.submitTask {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 30px;
}

/* MOBILE-NAV */
@media only screen and (max-width: 991px) {
  .nav-picture {
    display: none;
  }

  .first-picture {
    display: block;
  }

  .navbar-brand {
    margin-right: 1rem;
  }

  .nav-item {
    text-align: right;
  }
}
