* {
  box-sizing: border-box;
}

* {
  font-family: 'Nunito Sans';
}
/* style for HOME */
.home-picture {
  display: inline-block;
  position: relative;
  width: 11rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;

  margin: 1rem;
}

h1 {
  font-family: 'Rock 3D';
  padding-bottom: 2rem;
  color: #5d6063;
}

.greeting {
  color: rgb(41, 41, 41);
  align-self: center;
}

.homePage {
  width: 300px;
}

.homePageSmallImg {
  width: 200px;
}
.py-5 .frontPageItems h1 {
  text-align: center;
}

.frontPageImg {
  display: flex;

  justify-content: center;
}

.contentFrontpage {
  display: flex;
  justify-content: center;
  height: 300px;
  flex-direction: column;
}

.contentFrontpage form {
  align-self: center;
}

/* style for LOGIN */
.error {
  color: rgb(156, 69, 69);
}

/* style for EDIT */
.update-form {
  background-color: rgb(224 228 233);
  padding: 2rem;
  margin-bottom: 1rem;
}
.picture-form {
  background-color: rgb(224 228 233);
  padding: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.email-form {
  background-color: rgb(224 228 233);
  padding: 2rem;
  margin-bottom: 1rem;
}

.password-form {
  background-color: rgb(224 228 233);
  padding: 2rem;
  margin-bottom: 1rem;
}

.profile-picture {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.profile-picture img {
  display: inline-block;
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
}

.btn-dark {
  margin-top: 1rem;
}

input[type='file'] {
  width: 100%;
}

/* style for NAVIGATION */

.nav-picture {
  display: flex;
  /* width: 100vw; */
  justify-content: flex-end;
}
/* 
.navbar-custom {
  background-color: #a0b3b9;
} */
.nav-picture img {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.nav-item {
  width: 100px;
  font-weight: bolder;
}

.first-picture {
  display: flex;
  width: 100px;
}

.first-picture img {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.first-picture {
  display: none;
}

.navbar-brand {
  margin-right: 3rem;
  font-weight: bolder;
}

.logo h1,
p {
  color: white;
  margin-bottom: -1;
}

.navbar h1 {
  font-size: 3rem;
  margin-right: -3px;
}
.logo {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  align-items: center;
}

td .name-form {
  background-color: #343a40;
  border: honeydew;
}
/* STYLE FOR TASKS */
.submitTask {
  color: #fff;
  background-color: #a0b3b9;
  border-color: #a0b3b9;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  height: 30px;
}

.tasks .form-control {
  margin-bottom: 2rem;
}

.name-form {
  background-color: rgb(224 228 233);
  padding: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

ul li {
  list-style-type: none;
}
ul {
  padding-left: 0;
}
/* .edit {
  height: 1rem;
  width: 1rem;
  color: white;
  background-color: rgb(245, 118, 118);
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
} */

.edit img,
.delete img {
  height: 1.3rem;
}

td.edit.line {
  width: 3rem;
}

td.delete.line {
  width: 3rem;
}

table {
  margin-top: 2rem;
}

/* .delete a {
  color: rgb(43, 43, 43);
  background-color: rgb(218, 218, 218);
  padding: 0.1rem 0.4rem;
  border-radius: 0.3rem;
} */

/* STYLE FOR LISTS */
article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
/* .myLists {
  margin-top: 3%;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-bottom: 3%;
  width: 100%;
  background-color: rgb(52 58 64);
  align-self: center;
  text-align: center;
  color: white;
}

.myLists ul li {
  display: inline-flex;
  padding: 1%;
} */

.tableNames {
  font-size: 16px;
}

/* .tableNameDelete {
  text-align: right;
}

.delete {
  text-align: right;
} */

ul .items {
  font-size: 13px;
  list-style-type: circle;
  margin-left: 1rem;
}

.table td.line {
  border-top: 10px solid #ffffff;
}

details {
  width: 100%;
}

.listNameInColumn {
  font-size: 25px;
  font-family: 'Urbanist';
}

.testdiv {
  display: flex;
  width: 100%;
  /* flex-direction: row; */
}

.testdiv ul {
  display: flex;
  /* flex-direction: row; */
  width: 100%;
  justify-content: space-between;
}

.testdiv ul p {
  align-self: right;
}

.buttonDiv {
  align-self: right;
  display: flex;
  /* flex-direction: row; */
}

.table td.line {
  width: 100%;
}

article tr {
  display: flex;
  flex-direction: column;
}

details tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-dark td,
.table-dark th,
.table-dark thead th {
  width: 100%;
}

ul button {
  background-color: unset;
  border: unset;
}

/* Styles on EDIT LIST  */
.editListName {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.update-form button {
  width: 4rem;
}

.update-form .mb-3 {
  display: flex;
  flex-direction: column;
}

/* MOBILE-NAV */
@media only screen and (max-width: 991px) {
  .nav-picture {
    display: none;
  }

  .first-picture {
    display: block;
  }

  .navbar-brand {
    margin-right: 1rem;
  }

  .nav-item {
    text-align: right;
  }

  .logo {
    width: unset;
  }
}

@media only screen and (max-width: 661px) {
  /* li {
    font-size: 10px;
  } */
}
