* {
  box-sizing: border-box;
}

* {
  font-family: 'Nunito Sans';
}

.tableNamesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkboxClass :before {
  background-color: red;
}

/* style for HOME */
.home-picture {
  display: inline-block;
  position: relative;
  width: 11rem;
  height: 15rem;
  overflow: hidden;
  border-radius: 50%;
  align-self: center;
  margin: 1rem;
}

h1 {
  font-family: 'Rock 3D';
  padding-bottom: 2rem;
  color: #5d6063;
}

.greeting {
  color: rgb(41, 41, 41);
  align-self: center;
}

.homePage {
  width: 300px;
}

.homePageSmallImg {
  width: 200px;
}
.py-5 .frontPageItems h1 {
  text-align: center;
}

.frontPageImg {
  display: flex;

  justify-content: center;
}

.frontPageItems h1 {
  font-size: 50px;
}
.contentFrontpage {
  display: flex;
  justify-content: center;
  height: 350px;
  flex-direction: column;
}

.contentFrontpage h1 {
  align-self: center;
}
.contentFrontpage form {
  align-self: center;
}

/* style for LOGIN */
.error {
  color: rgb(156, 69, 69);
}

/* style for EDIT */
.sessionMessageEdit {
  color: #787e99;
}
.update-form {
  background-color: #f5f5f5;
  padding: 2rem;
  margin-bottom: 1rem;
}
.picture-form {
  background-color: #f5f5f5;
  padding: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.email-form {
  background-color: #f5f5f5;
  padding: 2rem;
  margin-bottom: 1rem;
}

.password-form {
  background-color: #f5f5f5;
  padding: 2rem;
  margin-bottom: 1rem;
}

.picture-form .btn.btn-dark {
  background-color: white;
  color: #606264;
}

.email-form .btn.btn-dark {
  background-color: white;
  color: #606264;
}

.btn-dark :hover {
  background-color: red;
}

.password-form .btn.btn-dark {
  background-color: white;
  color: #606264;
}

.profile-picture {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.profile-picture img {
  display: inline-block;
  position: relative;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
}

.btn.btn-dark {
  margin-top: 1rem;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  color: #343a40;
}

.btn.btn-light {
  margin-top: 2rem;
}
input[type='file'] {
  width: 100%;
}

/* style for NAVIGATION */
a:hover {
  color: #343a40 !important;
  font-size: 18px;
}

.nav-picture {
  display: flex;
  justify-content: flex-end;
}
.nav-picture img {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.nav-item {
  width: 100px;
  font-weight: bolder;
}

.first-picture {
  display: flex;
  width: 100px;
}

.first-picture img {
  display: inline-block;
  position: relative;
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
}

.first-picture {
  display: none;
}

.navbar {
  background-color: #f5f5f5;
}

.navbar-dark .navbar-nav .nav-link.active {
  color: #606264;
}
.navbar-brand {
  margin-right: 3rem;
  font-weight: bolder;
}

.logo h1,
p {
  color: #606264;
  margin-bottom: -1;
}

.navbar-dark .navbar-nav .nav-link {
  color: #606264;
}

.navbar h1 {
  font-size: 3rem;
  margin-right: -3px;
}
.logo {
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 100%;
  align-items: center;
}

td .name-form {
  border: honeydew;
}
.name-form {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

ul li {
  list-style-type: none;
  color: #606264;
}

ul {
  padding-left: 0;
}

.edit img,
.delete img {
  height: 1.3rem;
}

td.edit.line {
  width: 3rem;
}

td.delete.line {
  width: 3rem;
}

table {
  margin-top: 2rem;
}

/* STYLE FOR LISTS */
.hiddenSubmit {
  display: none;
}
article {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.urgentContainer details {
  padding: unset;
}
.tableNames {
  font-size: 16px;
}

ul .items {
  font-size: 13px;
  list-style-type: circle;
  margin-left: 1rem;
}

.table td.line {
  border-top: 30px solid #ffffff;
}

.table td {
  border: unset;
}

.td .name-form {
  background-color: #f5f5f5;
}
.table-dark th,
.table-dark thead th {
  border-color: #f5f5f5;
}
details {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.listNameInColumn {
  font-size: 25px;
  font-family: 'Urbanist';
}

.testdiv {
  display: flex;
  width: 100%;
}

.testdiv ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.testdiv ul p {
  align-self: right;
}

.buttonDiv {
  align-self: right;
  display: flex;
}

.table td.line {
  width: 100%;
}

article tr {
  display: flex;
  flex-direction: column;
}

details tr {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.table-dark td,
.table-dark th,
.table-dark thead th {
  width: 100%;
  background-color: #f5f5f5;
  color: #343a40;
}

ul button {
  background-color: unset;
  border: unset;
}

summary {
  color: #212529;
}
summary .urgent {
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 2rem;
  align-self: center;
}

.urgentContainer summary {
  width: 100%;
  display: flex;
  justify-content: center;
}

.urgentContainer .tableNameDelete {
  width: 20%;
  padding-right: 3rem;
}

.urgentContainer td.delete {
  width: 20%;
  padding-right: 4rem;
}

.urgentContainer td.done {
  padding-left: 3rem;
}

.urgentContainer th.tableNames.left {
  padding-left: 3rem;
  padding-top: 1rem;
}

.todayContainer td.done {
  padding-left: 3rem;
}

.todayContainer th.tableNames.left {
  padding-left: 3rem;
  padding-top: 1rem;
}

.freeImg {
  height: 200px;
  align-self: center;
}

.free {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 4rem;
}
.todayContainer .table-dark td {
  width: unset;
}

.table-dark {
  background-color: #f5f5f5;
}
.todayContainer .table-dark thead th {
  width: unset;
}

.todayImg {
  height: 100px;
  align-self: center;
}

.todayContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Styles on EDIT LIST  */
.editListName {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.update-form button {
  width: 4rem;
}

.update-form .mb-3 {
  display: flex;
  flex-direction: column;
}

.update-form {
  margin-top: 2rem;
  padding: 2rem;
}

/* MOBILE-NAV */
@media only screen and (max-width: 991px) {
  .nav-picture {
    display: none;
  }

  .first-picture {
    display: block;
  }

  .navbar-brand {
    margin-right: 1rem;
  }

  .nav-item {
    text-align: right;
  }

  .logo {
    width: unset;
  }
}

@media only screen and (max-width: 567px) {
  li {
    font-size: 14px;
  }
  .table-dark {
    display: inline-block;
  }

  .table td.line {
    width: unset;
  }

  thead {
    display: none;
  }

  td.edit.line {
    width: 95vw;
  }

  .edit img,
  .delete img {
    height: 1rem;
  }

  .todayContainer td.done {
    padding: 1rem;
  }

  details {
    padding-left: 0;
  }

  .urgentContainer td.done {
    padding-left: 1rem;
  }

  .urgentContainer td.delete {
    padding-right: 1rem;
  }

  .urgentContainer .done,
  .urgentContainer .title,
  .urgentContainer .description,
  .urgentContainer .deadline,
  .urgentContainer .edit,
  .urgentContainer .delete {
    padding-top: 2rem;
  }

  .todayContainer .done,
  .todayContainer .title,
  .todayContainer .description,
  .todayContainer .deadline,
  .todayContainer .edit,
  .todayContainer .delete {
    padding-top: 2rem;
  }

  .todayContainer td.done {
    padding-left: 1rem;
    padding-top: 2rem;
  }
}
